h1 {
    text-align:center;
    font-size:50px;
    font-family: 'Shadows Into Light', cursive;
    color:antiquewhite;
    text-shadow:4px 3px 3px #303070;
}
body {
    background-image:radial-gradient(circle, #dde3fd, #dde3fd, #798ef6, #798ef6, #183bf0, #0a2299);
    color:#f3e5d2;
    font-family: 'Berkshire Swash', cursive;
    font-size:20px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:15px;
    text-shadow:1px 1px 2px #303070;
    word-spacing:justify
}
footer p {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#556eb2;
}
section {
    background-color:#546db2;
}
article {
    background-color:#3f5ba6;
    color:rgb(224,231,226);
}
footer {
    background-color:rgb(80,105,168);
}
img {
    width:100%;
}
a {
    color:rgb(175,175,255);
    text-decoration:none;
}
ul {
    list-style-type:none;
}