body {
    padding:10px;
    background-color:#111111;
    color:rgb(116, 145, 70)
}
nav {
    margin-bottom: 10px;
    background-color:#333333
}
nav a {
    color:antiquewhite
}
div ul li:hover {
    background-color: #222222
}
section {
    padding: 10px
}
ul {
    list-style-type: none;
}
a {
    color:rgb(118, 55, 138)
}
img {
    width:48%;
    padding:5px;
    opacity:0.85;
}
img:hover {
    opacity:1;
    padding:0px;
}
big {
    font-size:20px
}
nav ul li {
    padding:0px 10px 0px 10px
}
footer {
    width:100%;
    font-size:0.5em;
    text-align:center;
    position: relative;
    bottom: -25px;
}
h6 {
    font-size:1.375em
}