body {
    padding:5px 15px;
    background-image:radial-gradient(circle, #dd9400 15%, #cccc00 30%, #dd0000 100%);
    background-size:100% 170%;
    text-align:center;
}
form, fieldset {
    width:100%;
    margin-bottom: 10px
}
label {
    display:block;
    text-align:right;
    position: relative;
    right:35%;
    padding:5px 0px 5px 0px
}
input {
    background-color: #ccc
}
input:hover, input:focus {
    background-color:#eee
}
button {
    display:block;
    margin:auto;
}
footer {
    position: static;
    bottom: 0px;
    margin:auto;
}
.hidden {
    font-size:0.1em;
    opacity:0
}