body {
    padding:5px 15px;
    text-align:center;
}
form, fieldset {
    width:100%;
    margin-bottom: 10px
}
label {
    display:block;
    text-align:right;
    position: relative;
    right:35%;
    padding:5px 0px 5px 0px
}
button {
    display:block;
    margin:auto;
}
.hidden {
    font-size:0.1em;
    opacity:0
}